body {
	background: url('../img/stripe-background.png');
}
table {
	background-color: #fff;
}
hr {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #fff;
}

.home .well{
	padding-top: 5px;
	padding-bottom: 5px;
}

.home .well p {
	margin: 3px 0;
}

.footer {
	background-color: #fff;
	min-height: 0;
}
.footer .navbar-text {
	margin: 5px 0;
}

.leaflet-top, .leaflet-bottom {
	z-index: 777 !important;
}

.form-inline-wide .form-group {
	margin-right: 15px;
}
.form-inline-wide label{
	font-weight: normal;
}
.centered {
	text-align: center;
}

.icon-panel {
	text-align: center;
	display: block;
	padding: 10px;
	background: #eee;
}

.icon-panel:hover {
	background: #aaa;
	background: -moz-radial-gradient(center, ellipse cover,  #eeeeee 0%, #aaaaaa 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#eeeeee), color-stop(100%,#aaaaaa));
	background: -webkit-radial-gradient(center, ellipse cover,  #eeeeee 0%,#aaaaaa 100%);
	background: -o-radial-gradient(center, ellipse cover,  #eeeeee 0%,#aaaaaa 100%);
	background: -ms-radial-gradient(center, ellipse cover,  #eeeeee 0%,#aaaaaa 100%);
	background: radial-gradient(ellipse at center,  #eeeeee 0%,#aaaaaa 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#aaaaaa',GradientType=1 );
}

.icon-panel i {
	font-size: 8em
}

.same {
	color: #333;
}

.same:hover {
	color: #333;
	text-decoration: none;
}
.bg-default {
	background-color: #eee;
}

/*
    Component: Small boxes
    taken and modified from http://almsaeedstudio.com/AdminLTE/
*/
.small-box {
  position: relative;
  display: block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 15px;
}
.small-box > .inner {
  padding: 10px;
}
.small-box > .small-box-footer {
  position: relative;
  text-align: center;
  padding: 3px 0;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  display: block;
  z-index: 10;
  background: rgba(0, 0, 0, 0.1);
  text-decoration: none;
}
.small-box > .small-box-footer p {
	padding: 0;
	margin: 0;
	font-size: 12px;
}
.small-box > .small-box-footer:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.15);
}
.small-box h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 10px 0;
  white-space: nowrap;
  padding: 0;
}
.small-box p {
  font-size: 15px;
}
.small-box p > small {
  display: block;
  color: #f9f9f9;
  font-size: 13px;
  margin-top: 5px;
}
.small-box h3,
.small-box p {
  z-index: 5px;
}
.small-box .icon {
  position: absolute;
  top: 0;
  bottom: 5px;
  right: 5px;
  z-index: 0;
  font-size: 85px;
  color: rgba(0, 0, 0, 0.15);
}
.small-box:hover {
  text-decoration: none;
  color: #f9f9f9;
}
.small-box:hover .icon {
  animation-name: tansformAnimation;
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  -webkit-animation-name: tansformAnimation;
  -webkit-animation-duration: .5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: tansformAnimation;
  -moz-animation-duration: .5s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: forwards;
}
@keyframes tansformAnimation {
  from {
    font-size: 85px;
  }
  to {
    font-size: 95px;
  }
}
@-webkit-keyframes tansformAnimation {
  from {
    font-size: 85px;
  }
  to {
    font-size: 95px;
  }
}
@media screen and (max-width: 480px) {
  .small-box {
    text-align: center;
  }
  .small-box .icon {
    display: none;
  }
  .small-box p {
    font-size: 12px;
  }
}
